name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      # Task 1
      - name: Build backend (Task1)
        run: docker build -t farm-backend ./backend

      - name: Build frontend (Task1)
        run: docker build -t farm-frontend ./frontend

      # Task 2
      - name: Build orders service (Task2)
        run: docker build -t orders-service ./orders

      - name: Build notifier worker (Task2)
        run: docker build -t notifier-worker ./notifier
